.sidenav {
    height: 100%;
    width: 20%;
    min-width: 3cm;
    max-width: 7cm;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    padding-top: 20px;
    // display: none;
}

/* ----------------- Button ----------------- */

.buttonDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
}

.buttonButton {
    background-color: #383838;
    text-align: center;
    min-width: 80%;
    max-width: 90%;
    border: none;
    color: #d3d3d3;
    height: 2.5em;
    border-radius: 2px;
    transition-duration: 0.2s;
}

.buttonButton:hover {
    background-color: #616161; /* Green */
    color: white;
}

.buttonButton:active {
    background-color: #8f8f8f; /* Green */
    color: white;
}

/* ----------------- Label ----------------- */

.labelDiv {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5cm;
    margin-top: 1cm;
}

.labelDiv p {
    font-size: 1.3em;
    width: 90%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    color: #d3d3d3;
    font-weight: bold;
}

/* ----------------- SLIDERS ----------------- */

.sliderDiv {
    width: 100%;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
}

.sliderValDiv {
    margin-left: 5%;
    margin-top: 0.3cm;
    margin-bottom: 0;
    width: 90%;
}

.sliderVals {
    display: inline-block;
    width: 33%;
    margin: 0;
}

.sliderMin {
    text-align: left;
    color: #8a8a8a;
}

.sliderVal {
    text-align: center;
    color: #8a8a8a;
}

.sliderMax {
    text-align: right;
    color: #8a8a8a;
}

.sliderP {
    /* text-align: left; */
    width: 90%;
    margin-top: 0;
    margin-bottom: 0.3cm;
    margin-left: 5%;
    margin-right: 5%;
    color: #d3d3d3;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    margin-left: 5%;
    height: 7px; /* Specified height */
    border-radius: 3px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 26px; /* Set a specific slider handle width */
    height: 26px; /* Slider handle height */
    border-radius: 13px;
    background: #0db8de; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0db8de; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* ----------------- SELECT ----------------- */

.selectDiv {
    width: 100%;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    display: flex;
    align-items: center;
    padding-left: 5%;
    // justify-content: center;
}

.selectLabel {
    color: #d3d3d3;
    font-weight: bold;
    // padding-left: 5px;
    padding-right: 5px;
    line-height: 2;
    display: inline-block;
}

.selectSelect {
    min-width: 70px;
    border-radius: 2px;
    height: 1.5em;
    background-color: #383838;
    color: #d3d3d3;
    border-color: #383838;
    margin-right: 5px;
    margin-left: 5px;
}

/* ----------------- Checkbox ----------------- */

.checkboxDiv {
    color: #d3d3d3;
    width: 100%;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
}

.checkboxLabel {
    color: #d3d3d3;
    margin-left: 5%;
    font-weight: bold;
}

.checkboxCont {
    text-align: left;
    margin-left: 10%;
}

.checkboxCont label {
    display: block;
    padding-right: 10px;
    white-space: nowrap;
}
.checkboxCont input {
    /* float: left; */
    vertical-align: middle;
}
.checkboxCont span {
    vertical-align: middle;
    line-height: 1.5em;
    display: inline;
}

.checkboxDiv p {
    width: 90%;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 5%;
    margin-right: 5%;
    color: #d3d3d3;
    font-weight: bold;
}

/* ----------------- Radio ----------------- */

.radioDiv {
    width: 100%;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    color: #d3d3d3;
}

.radioLabel {
    color: #d3d3d3;
    margin-left: 5%;
    font-weight: bold;
}

.radioCont {
    text-align: left;
    margin-left: 10%;
}

.radioCont label {
    display: block;
    padding-right: 10px;
    white-space: nowrap;
}
.radioCont input {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-top: 3px;
}
.radioCont label span {
    vertical-align: middle;
    line-height: 1.5em;
}

.radioDiv p {
    width: 90%;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 5%;
    margin-right: 5%;
    color: #d3d3d3;
    font-weight: bold;
}
